@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-two-color {
  background: linear-gradient(-80deg, #3666cf,#0749d6);
  color: white
}

.h-89 {
  height: 10vh;
}

.h-93{
  height: 65vh;
}

.h-34 {
  height: 80%;
}

.h-90 {
  height: 95%;
}

.w-90 {
  width: 95%;
}

.h-custom {
  height: 100%;
  min-height: 89.2vh;
  max-height: 100vh;
}
